.App {
  text-align: justify;
  padding: 5px;
}

#brandName{
  font-size: 2rem;
  font-family: cursive;
  color: darkcyan;
}

#newsApi a{
  margin:0px 5px;
}

#newsApi a:link{
  color: black;
  text-decoration: none;
}

#newsApi a:active{
  text-decoration: wavy blue 2px;
}

#newsApi a:visited{
  color: blueviolet;
}

#footer{
  text-align: center;
}


.card-text p{
  margin-bottom: 8px;
  height: 4.5rem;
}

#footer1{
  background-color: burlywood;
  bottom : 0px;
  margin:30px -5px -4.5px -5px;
  padding: 0px;
  height:min-content ;
  font-weight: bolder;
  font-size: x-large; 
}

.right-corner01{
  position : relative;
  left : 37vw;
}

#topHeadlines01{
  margin-top : 13vh;
}

.author-credit{
  color: green;
}